<section class="bg-main-light">
    <div class="container py-3">
        <h2 class="medium">get the freshcart app</h2>
        <p>we will send you a link, open it on phone to download the app</p>
        <div class="row">
            <div class="col-md-10">
                <input type="text" class="form-control" placeholder="Email..">
            </div>
            <div class="col-md-2">
                <button class="btn bg-main text-white">share app link</button>
            </div>
        </div>
        <hr class="py-2">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <h3>payment partners</h3>
                <img src="../../assets/images/payments.png" class="w-50" alt="partner">
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <h3 class="fs-4">get deliveries with frshcart</h3>
                <img src="../../assets/images/app.png" class="w-50" alt="partner">
            </div>
        </div>
    </div>
</section>