<div class="container py-5">
    <div class="w-75 mx-auto">
        <h2>Change Password:</h2>
        <form (ngSubmit)="sendData(reset)" [formGroup]="reset" class="d-flex flex-column gap-3">
            <div>
                <label class="pb-1" for="password">password</label>
                <input (keyup)="checkPassword()" formControlName="password" type="password" placeholder="your password" class="form-control"
                    id="password">
            </div>
            <div>
                <label class="pb-1" for="rePassword">rePassword</label>
                <input (keyup)="checkPassword()" formControlName="rePassword" type="password" placeholder="your rePassword" class="form-control"
                    id="rePassword">
                <p *ngIf="!valid&&reset.get('rePassword')?.touched" class="mt-3 alert alert-danger">password and repassword
                    dont match</p>
                <!-- <p *ngIf="!valid" class="alert alert-dark">password and repassword dont match</p> -->
            </div>
            <button [disabled]="reset.invalid" class="btn bg-main text-white w-25 my-2">Change</button>
        </form>
    </div>
</div>