<div class="container py-5">
    <div class="w-75 mx-auto">
        <h2>Enter reset Code</h2>
        <form (ngSubmit)="sendData(reset)" [formGroup]="reset" class="d-flex flex-column gap-3">
            <div>
                <input formControlName="resetCode" type="text" placeholder="resetCode..." class="form-control" id="resetCode">
                <div *ngIf="reset.get('resetCode')?.errors&&reset.get('resetCode')?.touched" class="alert alert-danger mt-2">
                    <p *ngIf="reset.get('resetCode')?.getError('required')">resetCode is required!</p>
                    <p *ngIf="reset.get('resetCode')?.getError('pattern')">make sure to enter resetCode of 6 digits</p>
                </div>
            </div>
            <p  class="text-danger fw-bold" *ngIf="error">Reset code is invalid or has expired</p>
            <button [disabled]="reset.invalid" class="btn bg-main text-white w-25 my-2">verify</button>
        </form>
    </div>
</div>