<div class="container py-5">
    <div class="w-75 mx-auto">
        <h2>reset your account password</h2>
        <form (ngSubmit)="sendData(reset)" [formGroup]="reset" class="d-flex flex-column gap-3">
            <div>
                <label class="pb-1" for="email">email</label>
                <input formControlName="email" type="text" placeholder="your email" class="form-control" id="email">
                <div *ngIf="reset.get('email')?.errors&&reset.get('email')?.touched" class="alert alert-danger mt-2">
                    <p *ngIf="reset.get('email')?.getError('required')">email is required!</p>
                    <p *ngIf="reset.get('email')?.getError('email')">email is not valid!</p>
                </div>
            </div>
            <p  class="text-danger fw-bold" *ngIf="error">email is not registered!</p>
            <button [disabled]="reset.invalid" class="btn bg-main text-white w-25 my-2">reset</button>
        </form>
    </div>
</div>